{% extends 'base.html' %}

{% block title %}
Listagem de Categorias
{% endblock title %}

{% block content %}

<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar categoria">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>
<div class="col-lg-12">
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Produtos</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for categoria in lista %}
    <tr>
        <td>{{ categoria.nome }}</td>
        <td>
            <a href="{% url 'categoria_produto' pk=categoria.pk %}">Ver produtos</a>
        </td>
      <td>
        <a class="btn btn-warning" href="{% url 'editar_categoria' pk=categoria.pk %}">
            Editar
        </a>
        <a class="btn btn-danger" href="{% url 'remover_categoria' pk=categoria.pk %}">
            Excluir
        </a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'cadastrar_categoria' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
</div>
{% endblock content %}